<!DOCTYPE html>
<html>

<head>
    <title>Add Edit Remove HTML Table Row</title>
    <meta charset="windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/styles/db.css">
    <script type="text/javascript" src="assets/scripts/db.js" defer></script>
</head>

<body>
    <div class="tab tab-2">
        <table id="table">
            <tr>
                <th>ID</th>
                <th>Email Address</th>
                <th>Skill Tags</th>
            </tr>
            <% data.forEach(function(item){ %>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <%= item.email %>
                    </td>
                    <td>
                        <%= item.tag %>
                    </td>

                </tr>
                <% }); %>
        </table>
    </div>
    <div class="tab tab-2">
        ID :<input type="text" name="id" id="id"> Email Address :<input type="text" name="email" id="email"> Skill Tags :
        <div class="tag">
            <input type="checkbox" value="General Enquiry">General Enquiry<br>
            <input type="checkbox" value="Abdomen">Abdomen<br>
            <input type="checkbox" value="Back">Back<br>
            <input type="checkbox" value="Chest">Chest<br>
            <input type="checkbox" value="Ear">Ear<br>
            <input type="checkbox" value="Extremeties">Extremeties<br>
            <input type="checkbox" value="Head">Head<br>
            <input type="checkbox" value="Pelvis">Pelvis<br>
            <input type="checkbox" value="Rectum">Rectum<br>
            <input type="checkbox" value="Skin">Skin<br>
            <input type="checkbox" value="Tooth">Tooth<br>
        </div>


        <button onclick="addHtmlTableRow();">Add</button>
        <button onclick="editHtmlTableSelectedRow();">Update</button>
        <button onclick="removeSelectedRow();">Remove</button>
        <button onclick="clearFields();">Clear</button>



    </div>

</body>

</html>