<!DOCTYPE html>
<head>
    <title>Admin Login</title>
    <script type="text/javascript" src="assets/scripts/login.js" defer></script>
</head>

<body>
    <p>Login</p>     
        <input type="text" id='username' placeholder="Username">
        <input type="text" id='password' placeholder="password">
        <button onclick="login()">Login</button>       
        <p id="message"></p>
</body>
