<!DOCTYPE html>

<head>
    <title>Admin Login</title>
    <script type="text/javascript" src="assets/scripts/login.js" defer></script>
    <link rel="stylesheet" type="text/css" href="assets/styles/login.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<div class="login">

    <h1>Admin Login</h1>
    <form action="/admin/login" method="POST" onsubmit="authenticate()">
        <div>
            <label for="username">Username</label>
            <input type="username" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="g-recaptcha" data-sitekey="6LdDHeQUAAAAADjZ2N2uXQZCfzfYLOaeRECzN_pE" data-callback="verifyCaptcha"></div>
        <div id="g-recaptcha-error"></div>
        <button id="login" type="submit" class="btn btn-primary btn-block btn-large">Login</button>
    </form>
</div>