<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>50.003 Elements of Software Construction</title>
    <link rel="icon" type="image/x-icon" href="assets/icons/main.ico">
    <link rel="stylesheet" href="https://use.typekit.net/rgd1rxa.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
    <script type="text/javascript" src="assets/scripts/main.js" defer></script>
</head>

<body>
    <header>Please select your issue.</header>
    <div class="problems">
        <a href="#">General Enquiry</a>
        <a href="#">Abdomen</a>
        <a href="#">Back</a>
        <a href="#">Chest</a>
        <a href="#">Ear</a>
        <a href="#">Extremeties</a>
        <a href="#">Head</a>
        <a href="#">Pelvis</a>
        <a href="#">Rectum</a>
        <a href="#">Skin</a>
        <a href="#">Tooth</a>
    </div>
    <div class="support_buttons">
        <button class="button" id="chat" disabled>💬 Chat Support</button>
        <button class="button" id="call" disabled >Call Support 📞</button>
    </div>
</body>

</html>